<div class="jumbotron">
  <h1>Azure SQL Mon</h1>
  <p class="lead">
    <img src="images/azure.png" width=200 alt="Azure logo"><br>
    The cloud for modern business
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/" ng-hide="userInfo.isAuthenticated" type=button ng-click="loginUser();">Log in!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Microsoft Azure</h4>
  <p>
    <a href="https://azure.microsoft.com">https://azure.microsoft.com</a>
  </p>
</div>
