<h3>SQL Database(ilkimdbjpe) SLO & Scale recommendation</h3>
<div ng-if="!data.length">
    <center><img src="../images/hourglass.gif"></img></center>
</div>
<div ng-if="data.length"><div>
    <table class="table table-striped">
        <tr>
            <th width=300>Time</th>
            <th>Down_CPU</th>
            <th>Down_Log</th>
            <th>Down_IO</th>
            <th>Up_CPU</th>
            <th>Up_Log</th>
            <th>Up_IO</th>
            <th>Scale</th>
        </tr>
        <tr ng-repeat="item in data">
            <td>{{item.timestamp | date:'yyyy-MM-dd HH:mm:ss' :'+0900'}}</td>
            <td>{{item.Down_CPU_Fit | number:3}}</td>
            <td>{{item.Down_Log_Write_Fit | number:3}}</td>
            <td>{{item.Down_Data_IO_Fit | number:3}}</td>
            <td>{{item.Up_CPU_Fit | number:3}}</td>
            <td>{{item.Up_Log_Write_Fit | number:3}}</td>
            <td>{{item.Up_Data_IO_Fit | number:3}}</td>
            <td>{{getRecommend(item.Down_CPU_Fit, item.Down_Log_Write_Fit, item.Down_Data_IO_Fit,
                item.Up_CPU_Fit, item.Up_Log_Write_Fit, item.Up_Data_IO_Fit )}}</td>
        </tr>
    </table>
</div>
<div><a href="https://azure.microsoft.com/en-us/documentation/articles/sql-database-performance-guidance/">
https://azure.microsoft.com/en-us/documentation/articles/sql-database-performance-guidance/</a></div>